.hover-text-underlined {
  position: relative; }
  .hover-text-underlined::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s;
    background: var(--color-white); }
  .hover-text-underlined:hover::before {
    transform-origin: left top;
    transform: scaleX(1); }

.transform-left {
  transition: 0.5s;
  transform: translateX(-4vw) !important; }

.hidden {
  opacity: 0;
  visibility: hidden; }

.show {
  opacity: 1;
  visibility: visibility; }

.overflow-hidden {
  overflow-y: hidden; }

.no-trans {
  transform: none !important; }

@keyframes lightclick {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(50);
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes closeMenu {
  0% {
    opacity: 0;
    transform: translateY(-4vw); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*-------------------------- 
      Global Styles
---------------------------*/
html {
  font-size: 62.5%;
  cursor: none; }

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw !important;
  color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

.huy {
  color: red; }

section {
  position: relative; }

.wrapper {
  position: relative;
  display: block;
  background: var(--color-dark);
  margin: auto;
  transition: opacity 1s ease 1s; }
  .wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

img {
  max-width: 100%;
  width: 100%; }

::-webkit-scrollbar {
  width: 0px !important;
  display: none !important; }

.backgroundBlur {
  background: var(--color-dark);
  opacity: 0.8;
  height: 100%;
  left: 0;
  position: fixed;
  right: o;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 0.5s; }

/*-------------------------
     RESET Default Styles
 --------------------------*/
* {
  outline: none; }

button {
  border: none;
  padding: 0; }

button,
button:focus,
.form-control,
.form-control:focus {
  outline: none; }

textarea {
  resize: none; }

select {
  background-color: transparent; }

a {
  color: var(--color-white) !important;
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

h1, h2, h3 {
  font-family: Ogg, "Cormorant Upright", serif;
  margin: 0; }

@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important; } }

/*----------------------------
      Helper Classes
----------------------------*/
/*-------------------------
   Background & Colors
--------------------------*/
/* Colors */
/*--------------------
   Buttons
---------------------*/
.btn {
  text-transform: capitalize;
  position: relative;
  z-index: 1; }
  .btn:focus, .btn.active, .btn:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }

/*-------------------------
   Font Size & Font Weight
--------------------------*/
@font-face {
  font-family: Ogg;
  src: url("../../asset/fonts/Ogg-Roman.otf") format("woff2"), url("../../asset/fonts/Ogg-Roman.otf") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Cormorant Upright";
  src: url("../../asset/fonts/CormorantUpright-Regular.ttf") format("woff2"), url("../../asset/fonts/CormorantUpright-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "vladimir";
  src: url("./../fonts/vladimir.TTF") format("woff2"), url("./../fonts/vladimir.TTF") format("woff");
  font-weight: 400;
  font-style: normal; }

/* Font Size */
.font--80 {
  font-size: 8rem; }

.font--20 {
  font-size: 20px; }

/* Font Weight */
/*==================== HEADER ====================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4vw 7vw 0 7vw;
  color: var(--color-white);
  font-weight: 400;
  visibility: hidden;
  z-index: 99; }
  .header .header-logo {
    position: relative; }
    .header .header-logo__img {
      width: 1.953vw; }
      .header .header-logo__img:hover {
        transform: scale(1.1); }
    .header .header-logo__text {
      font-weight: 500;
      margin-left: 1vw; }
    .header .header-logo__before {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      opacity: 0;
      pointer-events: none; }
    .header .header-logo .light-click {
      background: var(--color-light);
      animation: lightclick 500ms ease; }
  .header .header-project {
    cursor: pointer;
    position: relative; }

/*==================== FOOTER ====================*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 7vw 4vw 7vw;
  color: var(--color-white);
  font-weight: 400;
  z-index: 99;
  visibility: hidden; }
  .footer .footer-socials {
    transition: 0.5s; }
    .footer .footer-socials div i {
      font-size: 1.4vw; }
    .footer .footer-socials div + div {
      margin-top: 1vw; }

/*==================== NOISE ====================*/
.noise::before {
  position: fixed;
  top: 0;
  left: -1px;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: .03;
  z-index: 1000;
  pointer-events: none;
  background-image: url("../../asset/image/noise.gif"); }

/*==================== CURSOR ====================*/
.hover-cursor {
  transition: 0.5s;
  cursor: none !important; }
  .hover-cursor:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8); }

.hover-cursor-trans {
  transition: 1s;
  cursor: none !important; }
  .hover-cursor-trans:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8); }

.cursor, .follower {
  will-change: transform;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
  -webkit-transform: scale(1);
  transform: scale(1); }

.cursor {
  width: 8px;
  height: 8px;
  z-index: 999;
  background-color: #ffffff; }

.cursor.is-active {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0; }

.cursor.is-product {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0; }

.follower {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  z-index: 998;
  transition: transform .3s; }

.follower.is-active {
  background-color: #ffffff;
  -webkit-transform: scale(1.6);
  transform: scale(1.6); }

.follower.is-product {
  background-color: #6d6d6d;
  -webkit-transform: scale(2);
  transform: scale(2);
  border: none; }
  .follower.is-product::before {
    content: "View";
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 0.6vw !important;
    letter-spacing: 0.1vw;
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: opacity 1s ease-out; }

/*==================== MENU ====================*/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 28vw;
  height: 100%;
  background: var(--color-light);
  z-index: 101;
  transition: 0.5s;
  transform: translateX(40vw); }
  .menu .menuProducts {
    height: 100%;
    padding: 2.3vw 2vw;
    overflow-x: scroll; }
    .menu .menuProducts .container {
      padding: 0; }
      .menu .menuProducts .container .menuProduct {
        cursor: none;
        position: relative;
        margin-bottom: 40px; }
        .menu .menuProducts .container .menuProduct__img {
          width: 100%;
          height: 15vw;
          overflow: hidden; }
          .menu .menuProducts .container .menuProduct__img img {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            image-rendering: -webkit-optimize-contrast; }
          .menu .menuProducts .container .menuProduct__img:hover {
            filter: contrast(0.6);
            transition: 0.5s; }
        .menu .menuProducts .container .menuProduct__name {
          position: absolute;
          bottom: -2vw;
          right: 0; }
          .menu .menuProducts .container .menuProduct__name h3 {
            font-family: 'vladimir', sans-serif;
            font-size: 3vw;
            color: var(--color-dark); }
  .menu__close {
    position: absolute;
    width: 4vw;
    height: 4vw;
    top: 3.5vw;
    left: -6vw;
    border: 1.5px solid var(--color-light);
    border-radius: 50%;
    z-index: 101;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(-500); }
    .menu__close img {
      width: 50%; }

.menutranfrom {
  transform: translateX(0); }

.arrowDark {
  filter: invert(1); }

/*==================== HOME ====================*/
.home {
  padding: 15vw 0 17vw 0;
  width: 100vw;
  transition: 0.5s; }
  .home .home-text {
    width: 65%;
    margin: auto;
    color: var(--color-white); }
    .home .home-text h2 {
      position: relative;
      word-break: break-all;
      font-size: 5vw;
      line-height: 7vw;
      cursor: pointer; }
      .home .home-text h2 a {
        margin: 0; }
