/*==================== CURSOR ====================*/
.hover-cursor{
    transition : 0.5s;
    cursor: none!important;
    &:hover ~ .cursor{
        transform: translate(-50%,-50%) scale(8);
    }
}
.hover-cursor-trans{
    transition : 1s;
    cursor: none!important;
    &:hover ~ .cursor{
        transform: translate(-50%,-50%) scale(8);
    }
}
.cursor,.follower{
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.cursor{
    width: 8px;
    height: 8px;
    z-index: 999;
    background-color: $color-white;
}
.cursor.is-active{
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}
.follower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid $color-white;
    z-index: 998;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.follower.is-active{
    background-color: $color-white;
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
}
