/*==================== FOOTER ====================*/
.footer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    padding: 0 7vw 4vw 7vw;
    color:$color-white;
    font-weight: 400;
    z-index: 99;
    visibility:hidden;
    .footer-socials{
        transition : 0.5s;
        div{
            i{
                font-size: 1.4vw;
            }
        }
        div + div{
            margin-top: 1vw;
        }
    }
}