/*==================== FOOTER ====================*/
.footer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    padding-bottom: 50px;
    color:$color-white;
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 99;
    .footer-socials{
        div{
            i{
                font-size: 18px;
            }
        }
        div + div{
            margin-top: 15px;
        }
    }
}