/*==================== HEADER ====================*/
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding-top: 50px;
    color:$color-white;
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 99;
    .header-logo{
        &__img{
            width:25px;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__text{
            font-weight: 500;
            margin-left: 15px;
        }
    }
    .header-project{
        cursor: pointer;
    }
}
