/*==================== HOME ====================*/

.home{
    padding: 200px 0;
    .home-text{
        width: 60%;
        margin:auto;
        color:$color-white;
        h2{
            word-break: break-all;
            font-size:7rem;
            margin:0;
            cursor: pointer;
            
        }
    }
}