/*==================== HOME ====================*/

.home{
    padding:35vh 0 35vh 0 ;
    width:100vw;
    transition:0.5s;
    opacity: 0;
    .home-text{
        width: 65%;
        margin:auto;
        color:$color-white;
        h2{
            position: relative;
            word-break: break-all;
            font-size:5vw;
            line-height: 7vw;
            cursor: pointer;
            a{
                margin:0;
            }
        }
    }
}
//table and mobile
@media (max-width: 1200px){
    .home{
        height:100%;
        padding: 35vh 0;
        .home-text {
            h2 {
                font-size: 7vw;
                line-height: 10vw;
            }
        }
    } 
}
//tablet
@media (min-width: 768px) and (max-width: 1200px) {
}
//mobile
@media (max-width: 768px){
    
}