/*==================== HOME ====================*/

.home{
    padding:30vh 0 40vh 0;
    width:100vw;
    transition:0.5s;
    .home-text{
        width: 65%;
        margin:auto;
        color:$color-white;
        h2{
            position: relative;
            word-break: break-all;
            font-size:5vw;
            line-height: 7vw;
            cursor: pointer;
            a{
                margin:0;
            }
        }
    }
}
