/*==================== CURSOR ====================*/
.hover-cursor{
    transition : 0.5s;
    cursor: none!important;
    &:hover ~ .cursor{
        transform: translate(-50%,-50%) scale(8);
    }
}
.hover-cursor-trans{
    transition : 1s;
    cursor: none!important;
    &:hover ~ .cursor{
        transform: translate(-50%,-50%) scale(8);
    }
}
.cursor,.follower{
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.cursor{
    width: 8px;
    height: 8px;
    z-index: 999;
    background-color: #ffffff;
}
.cursor.is-active{
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}
.cursor.is-product{
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}
.follower {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #ffffff;
    z-index: 998;
    transition: transform .3s;
    &__text{
        opacity: 0;
    }
}
.follower.is-active{
    background-color: #ffffff;
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
}
.follower.is-product{
    mix-blend-mode: unset;
    background-color: #ffffffd3;
    -webkit-transform: scale(2);
    transform: scale(2);
    border:none;
    .follower__text{
        opacity: 1;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-size: 0.6vw!important;
        letter-spacing: 0.1vw;
        color:#000000;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
//table and mobile
@media (max-width: 1200px){
    .hover-cursor-trans,.hover-cursor,.hover-text{
        transform:none!important;
    }
}
//tablet
@media (min-width: 768px) and (max-width: 1200px) {
    
}
//mobile
@media (max-width: 768px){
    
}