/*==================== FOOTER ====================*/
.footer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    margin-bottom: 4vw;
    padding: 0 7vw 0 7vw;
    color:$color-white;
    font-weight: 400;
    z-index: 98;
    visibility:hidden;
    .footer-socials{
        transition : 0.5s;
        position: absolute;
        bottom:0;
        left:0;
        div{
            i{
                font-size: 1.4vw;
            }
        }
        div + div{
            margin-top: 1vw;
        }
    }
    .footer-year{
        // display: none;
        position: absolute;
        bottom:0;
        right:0;
    }
}
//table and mobile
@media (max-width: 1200px){
    .footer{
        // padding: 0 4vw 0 4vw;
        .footer-socials{
            div{
                i {
                    font-size: 5vw;
                }
            }
            div + div{
                margin-top: 2vw;
            }
        }
    } 
}
//tablet
@media (min-width: 768px) and (max-width: 1200px) {
}
//mobile
@media (max-width: 768px){
    
}