/*==================== HEADER ====================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 4vw;
  padding: 0 7vw 0 7vw;
  color: $color-white;
  font-weight: 400;
  visibility:hidden;
  z-index: 98;
  .header-logo {
    position: absolute;
    top:0;
    left:0;
    &__img {
      width: 1.953vw;
      // transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__text {
      font-weight: 500;
      margin-left: 1vw;
    }
    &__before {
      position: absolute;
      top: -28px;
      left: -33px;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      opacity: 1;
      transition: 0.8s ease-in-out;
      transform: scale(0);
      pointer-events: none;
      background: $color-light;
    }
    .light-click {
      transform: scale(50);
      transition: 0.8s ease-in-out;
    }
  }
  .header-project {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
//table and mobile
@media (max-width: 1200px){
  .header{
    .header-logo{
      &__img{
        width: 4.5vw;
      }
      &__text {
        margin-left: 2vw;
      }
    }
  }
}
//tablet
@media (min-width: 768px) and (max-width: 1200px) {
}
//mobile
@media (max-width: 768px){
    
}