/*==================== MENU ====================*/
.menu{
    position: fixed;
    // display: inline-table;
    top:0;
    right:0;
    width:28vw;
    height:100%;
    background:$color-light;
    z-index: 101;
    transition:0.5s;
    transform:translateX(100vw);
    .menuProducts{
        height:100%;
        padding:2.3vw 2vw;
        overflow-x: scroll;
        .container{
            padding: 0;
            .menuProduct{
                cursor: none;
                position:relative;
                margin-top:5vw;
                &__img{
                    width: 100%;
                    height:15vw;
                    overflow: hidden;
                    img{
                        height:100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        image-rendering: -webkit-optimize-contrast;
                    }
                    &:hover{
                        filter: contrast(0.6);
                        transition: 0.5s;
                    }
                }
                &__name{
                    position:absolute;
                    bottom:-2vw;
                    right:0;
                    h2{
                        font-family: 'vladimir', sans-serif;
                        font-size: 3vw;
                        color:$color-dark;
                        transition:0.5s;
                    }
                }
            }
            .menuProduct-first{
                margin-top:0!important;
            }
        }
    }
    &__close{
        position:absolute;
        width:4vw;
        height:4vw;
        top: 3.5vw;
        left: -6vw;
        border:1.5px solid $color-light;
        border-radius: 50%;;
        z-index: 101;
        opacity: 0;
        transition:0.5s;
        transform: translateY(-500);
        img{
            width:50%;
        }
    }
}

.menutranfrom{
    transform:translateX(0);
}
// .trans-closeMenu{
//     animation: closeMenu 0.5 ease-out 1s;;
// }
.arrowDark{
    filter:invert(1);
}
//table and mobile
@media (max-width: 1200px){
}
//tablet
@media (min-width: 768px) and (max-width: 1200px) {
    .menu {
        width: 50vw;
        &__close {
            width: 8vw;
            height: 8vw;
            top: 2.5vw;
            left: -12vw;
            border: 2px solid var(--color-light);
        }
        .menuProducts {
            padding: 4vw 3vw;
            .container {
                .menuProduct{
                    margin-top: 6vw;
                    &__img {
                        height: 27vw;
                    }
                    &__name {
                        bottom: -4vw;
                        h2 {
                            font-size: 6vw;
                        }
                    }
                }
            }
        }
    }
}
//mobile
@media (max-width: 768px){
    .menu {
        width: 100vw;
        &__close {
            width: 10vw;
            height: 10vw;
            border: 1px solid var(--color-dark);
            top: 2vw;
            left: 50%;
            transform: translateX(-50%)!important;
            img {
                filter: invert(1);
            }
        }
        .menuProducts {
            padding: 15vw 3vw 4vw 3vw;
            .container {
                .menuProduct{
                    margin-top: 15vw;
                    &__img {
                        height: 50vw;
                    }
                    &__name {
                        bottom: -7vw;
                        h2 {
                            font-size: 10vw;
                        }
                    }
                }
            }
        }
    }
    .arrowDark {
        filter: invert(0)!important;
    }
}