

/*-------------------------- 
      Global Styles
---------------------------*/
html{
    font-size: 62.5%;
    cursor:none;
}
body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw!important;
    color: $color-body;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: $color-dark;
    // pointer-events: none;
}
.huy{
    color:red
}
section {
    position: relative;
    transition: 0.5s;
}
.wrapper{
    position: relative;
    display:block;
    // height:100%;
    background: $color-dark;
    margin: auto;
    transition: opacity 1s ease 1s;
    top: 0;
    left:0;
    .container{
        // height:100%;
        
    }
}

img {
    max-width: 100%;
    width:100%;
}
::-webkit-scrollbar {
    width: 0px!important;
    display: none!important; 
}
.backgroundBlur {
    background: #00000091;
    // opacity:0.5;
    height: 100%;
    left: 0;
    position: fixed;
    right: o;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:0.5s;
}
/*-------------------------
     RESET Default Styles
 --------------------------*/
* {
    outline: none;
}

button {
    border: none;
    padding: 0;
}

button,
button:focus,
.form-control,
.form-control:focus {
    outline: none;
}

textarea {
    resize: none
}

select {
    background-color: transparent;
}
a{
    color:$color-white!important;
    text-decoration: none!important;
}
a:hover{
    text-decoration: none!important;
    cursor: inherit;
}
h1,h2,h3{
    font-family: Ogg, "Cormorant Upright", serif;
    margin: 0;
}
@media (min-width: 1400px){
    .container {
        max-width: 1140px!important;
    }
}
//table and mobile
@media (max-width: 1200px){
    body{
        font-size: 2.5vw !important;
        .cursor,.follower{
            display:none
        }
        .wrapper{
            height:100%;
        }
    }
}
//tablet
@media (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 2.5vw !important;
    }
}
//mobile
@media (max-width: 768px){
    
}