

/*-------------------------- 
      Global Styles
---------------------------*/
html{
    font-size: 62.5%;
}
body {
    font-family: $font-body;
    font-size: $body-font-size;
    color: $color-body;
    overflow-x: hidden;
}
.huy{
    color:red
}
section {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

img {
    max-width: 100%;
}

/*-------------------------
     RESET Default Styles
 --------------------------*/
* {
    outline: none;
}

button {
    border: none;
    padding: 0;
}

button,
button:focus,
.form-control,
.form-control:focus {
    outline: none;
}

textarea {
    resize: none
}

select {
    background-color: transparent;
}

@media (min-width: 1200px) {
    
}

@media (min-width: 768px) and (max-width: 1200px) {
    
}

@include xs-sm-screens {

}