// Sass Variables

$color-body: #ffffff;
$body-font-size: 1.5rem;
$color-dark:var(--color-dark);
$color-white:var(--color-white);

//var
.hover-text-underlined{
    position: relative;
    &::before{
        position: absolute;
        bottom: -3px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: right top;
        transition: transform .3s;
        background:$color-white
    }
    &:hover::before{
        transform-origin: left top;
        transform: scaleX(1);
    } 
}
.transform-left{
    transition : 0.5s;
    transform:translateX(-4vw)!important;
}
.hidden{
    opacity: 0;
    visibility:hidden
}
.show{
    opacity: 1;
    visibility:visibility
}
.overflow-hidden{
    overflow-y: hidden;
}
.no-trans{
    transform: none!important;
}