/*--------------------
pageLogin
----------------------*/ 

.MuiSvgIcon-root {
    width: 20px!important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    top: -2px!important;
}
label{
    background-color: #fff;
}